
coverage.ods
data/codons_table.tab
data/Gingold_tRNA_groups.xls
data/GOmitotic_cell_cycle.csv
data/GOpattern_specification.csv
data/HannahSeq_nomod.csv
data/healthy_isoform_seq.csv
data/healthy_mrnaseq.csv
data/HEK_mod.csv
data/HEK_nomod.csv
data/HEK_nomod_norm.csv
data/HEK_nomod_precursors.csv
data/human_CU_refseq.tsv
data/kgXref.txt
data/macrophages_mod.csv
data/macrophages_nomod.csv
data/NP2NM.txt
data/other_datasets/DMtRNASeq_MEF_LiuFange.ods
data/other_datasets/DMtrnaSeq_microbiota_Schwarz.ods
data/other_datasets/DMtRNASeq_Zheng.xls
data/other_datasets/Eva_data/sumtRNAs_brain_VS_liver_pol3.png
data/other_datasets/Eva_data/sumtRNAs_brain_VS_liver_pol3_WITH_NAMES.png
data/other_datasets/Eva_data/tRNA_ala_brain_VS_liver_pol3.png
data/other_datasets/Eva_data/tRNA_arg_brain_VS_liver_pol3.png
data/other_datasets/hydroSeq_Gogakos.xls
data/other_datasets/hydroSeq_Mattijssen.xls
data/other_datasets/microarray_Dittmar.xls
data/other_datasets/results_pilot.ods
data/other_datasets/Schmitt_Pol3_liver_brain.xls
data/other_datasets/YAMMAT-Seq.pdf
data/TCGA2RefSeq.txt
data/TCGA_mod.csv
data/TCGA_nomod.csv
data/TCGAall_mod.csv
data/TCGAall_nomod.csv
data/TCGApilot_mod.csv
data/TCGApilot_nomod.csv
figures/correlation.png
figures/cortAI_codons_unpaired.png
figures/cortAI_codons_unpaired.svg
figures/human-organs-2-1-.jpg
figures/organs.png
figures/pca.png
figures/smallRNAseqVShydroseq_rel.png
figures/smallRNAseqVShydroseq_rel.svg
figures/smallRNAseqVShydroseq_sqrt.png
figures/smallRNAseqVShydroseq_sqrt.svg
figures/tAI_binscor_unpaired.svg
plots/arcsinhtAI_codons_paired.pdf
plots/arcsinhtAI_codons_unpaired.pdf
plots/bottomtrna_tAI_binscor_paired.pdf
plots/bottomtrna_tAI_binscor_unpaired.pdf
plots/bottomtrna_tAI_cor_paired.pdf
plots/bottomtrna_tAI_cor_unpaired.pdf
plots/bottomtrna_tAI_paired.pdf
plots/bottomtrna_tAI_unpaired.pdf
plots/ClueGO_corrPC1below-0.5.pdf
plots/ClueGO_corrPC1over0.5.pdf
plots/cortAI_codons_paired.pdf
plots/cortAI_codons_unpaired.pdf
plots/Hannah-seq/smallRNAseqVShydroseq_rel.pdf
plots/Hannah-seq/smallRNAseqVShydroseq_sqrt.pdf
plots/Hannah-seq/smallRNAseqVShydroseq_sqrt.svg
plots/HEK/HEK_arcsinhPCA.svg
plots/HEK/HEK_logPCA.svg
plots/HEK/HEK_logPCAall.svg
plots/HEK/HEK_relPCA.svg
plots/HEK/HEKnomod_correlations.pdf
plots/HEK/HEKprecursor_correlations.pdf
plots/macrophages/macrophages_abs.svg
plots/macrophages/macrophages_arcsinh.svg
plots/macrophages/macrophages_correlations.pdf
plots/macrophages/macrophages_log.svg
plots/macrophages/macrophages_rel.svg
plots/old/tAI_codons_bytype.pdf
plots/old/tAI_codons_paired.pdf
plots/old/tAI_rel_0.5clusterspecific.pdf
plots/old/tAI_rel_0.5clusterspecific_paired.pdf
plots/old/tAI_rel_0.5tissuespecific.pdf
plots/old/tAI_rel_0.5tissuespecific_paired.pdf
plots/old/tAI_relcodons_bytype.pdf
plots/old/tAI_relcodons_paired.pdf
plots/old/tAI_relcodons_TOP_bytype.pdf
plots/tAI_bins_paired.pdf
plots/tAI_bins_unpaired.pdf
plots/tAI_binscor_paired.pdf
plots/tAI_binscor_unpaired.pdf
plots/tAI_BOTTOM_paired.pdf
plots/tAI_BOTTOM_unpaired.pdf
plots/tAI_clusterspecific_paired.pdf
plots/tAI_clusterspecific_unpaired.pdf
plots/tAI_codons_paired.pdf
plots/tAI_codons_unpaired.pdf
plots/tAI_cor_clusterspecific_paired.pdf
plots/tAI_cor_clusterspecific_unpaired.pdf
plots/tAI_cor_mostvargenes_paired.pdf
plots/tAI_cor_mostvargenes_unpaired.pdf
plots/tAI_TOP_paired.pdf
plots/tAI_TOP_unpaired.pdf
plots/TCGA/pca_arcsinh.svg
plots/TCGA/pca_rel.svg
plots/TCGA/pca_rel_ki67bytissue.svg
plots/TCGA/pca_rel_ki67cmap.svg
plots/TCGA/pca_rel_MIbytissue.svg
plots/TCGA/pca_rel_MIcmap.svg
plots/TCGA/pca_rel_mitcelcycle_bytissue.svg
plots/TCGA/pca_rel_patternspec_bytissue.svg
plots/TCGA/pca_weightedCU_rel.svg
plots/TCGA/proteomaps_PC1TOPcorr
plots/TCGA/tsne_colormap_rel_perp10.svg
plots/TCGA/tsne_rel_perp10.svg
plots/TCGA/tsne_rel_perp10_MIbytissue.svg
plots/TCGA/tsne_rel_perp10_MIcmap.svg
plots/TCGApilot/TCGApilot_arcsinhPCA.svg
plots/TCGApilot/TCGApilot_correlations.pdf
plots/TCGApilot/TCGApilot_logPCA.svg
plots/TCGApilot/TCGApilot_relPCA.svg
plots/TStrna_tAI_binscor_paired.pdf
plots/TStrna_tAI_binscor_unpaired.pdf
plots/TStrna_tAI_cor_paired.pdf
plots/TStrna_tAI_cor_unpaired.pdf
plots/TStrna_tAI_paired.pdf
plots/TStrna_tAI_unpaired.pdf
results/arcsinhweighted_tAI.csv
results/binscor_tAI_CUcentric.csv
results/binscor_tAI_trnacentric.csv
results/bottomtrna_cor_tAI_CUcentric.csv
results/bottomtrna_cor_tAI_trnacentric.csv
results/bottomtrna_weighted_tAI_CUcentric.csv
results/bottomtrna_weighted_tAI_trnacentric.csv
results/BOTTOMweighted_tAI_CUcentric.csv
results/BOTTOMweighted_tAI_trnacentric.csv
results/ClueGO_corrPC1below-0.5.cluego
results/ClueGO_corrPC1over0.5.cluego
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt BinaryGeneTermMatrix.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt ClueGOLog.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt EdgeAttributeTable.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt Functional Groups With Genes.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt Genes With Corresponding Functions.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt KappaScoreMatrix.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt NodeAttributeTable.txt
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt Overview Specific Cluster #1.svg
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5 BinaryGeneTermMatrix.txt Specific Cluster #1.svg
results/ClueGO_corrPC1over0.5/ClueGO_corrPC1over0.5.cys
results/cor_tAI.csv
results/corMOSTVAR_tAI.csv
results/healthy_arcsinhweightedCU.csv
results/input_PC1corr2GSEA.rnk
results/input_PC1corrGSEA.rnk
results/PC1corr2_gsea.xls
results/PC1corrBOTTOM_gsea.xls
results/PC1corrTOP_gsea.xls
results/PCA_features.ods
results/spearman_correlation_PC1.csv
results/spearman_correlation_PC2.csv
results/tAI_arcsinhweightedcodons.csv
results/tAI_weightedcodons.csv
results/TOPweighted_tAI_CUcentric.csv
results/TOPweighted_tAI_trnacentric.csv
results/TSclustering_index_pergene.csv
results/TScor_tAI_CUcentric.csv
results/TScor_tAI_trnacentric.csv
results/TStrna_cor_tAI_CUcentric.csv
results/TStrna_cor_tAI_trnacentric.csv
results/TStrna_weighted_tAI_CUcentric.csv
results/TStrna_weighted_tAI_trnacentric.csv
results/TSweighted_tAI_CUcentric.csv
results/TSweighted_tAI_trnacentric.csv
results/weighted_tAI.csv
summary.odp
